.container {
  background-color: var(--secondary-clr);
  height: 100vh;
  padding: 3rem;
  min-width: 70rem;
  max-width: 90rem;
  margin: auto;
}

.grid {
  display: grid;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  grid-template-columns: 0.6fr 0.6fr 0.6fr 0.6fr 1fr 1fr;
  grid-template-rows: 7rem 10rem 5rem 5rem 5rem 5rem;
  grid-template-areas:
    ". title title title title ."
    "quote quote quote quote quote quote"
    ". . . . img img"
    "quoteB jokeB saveB viewB img img"
    "sliderLeft slider slider sliderRight img img"
    ". . . . img img";
}

.title {
  font-family: cursive;
  grid-area: title;
  color: var(--accent-clr);
  -webkit-text-stroke: black 1px;
  text-align: center;
  font-size: 400%;
}

.sliderLeft {
  font-family: cursive;
  grid-area: sliderLeft;
  color: var(--accent-clr);
  -webkit-text-stroke: black 1px;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.sliderRight {
  font-family: cursive;
  grid-area: sliderRight;
  color: var(--accent-clr);
  -webkit-text-stroke: black 1px;
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.quote {
  --background-clr: rgb(255, 214, 0, 255);
  --shadow-radius: 1rem;
  position: relative;
  grid-area: quote;
  width: 100%;
  min-height: 4rem;
  padding: 1.5rem;
  background-color: var(--background-clr);
  border-radius: 1rem;
  box-shadow: 0 0 0 var(--shadow-radius) var(--background-clr);
}

.triangle {
  background-color: transparent;
  --triangle-height: 4rem;
  --triangle-width: 3rem;
  position: absolute;
  border-top: 1rem;
  bottom: calc(-1 * (var(--shadow-radius) + var(--triangle-height)));
  right: 14rem;
  width: 0;
  border-left: var(--triangle-width) solid transparent;
  border-right: var(--triangle-width) solid transparent;
  border-top: var(--triangle-height) solid var(--text-box-clr);
}

.button {
  text-transform: capitalize;
  background-color: var(--accent-clr);
  min-width: 11rem;
  max-width: 15rem;
  max-height: 3rem;
  padding: 0.5rem 0.8rem;
  border: black 1px solid;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.jokeB {
  grid-area: jokeB;
}

.button:hover {
  background-color: lightsalmon;
  color: black;
}

.quoteB {
  grid-area: quoteB;
}

.saveB {
  grid-area: saveB;
}

.viewB {
  grid-area: viewB;
}

.slider {
  grid-area: slider;
  height: 100px;
  width: 20rem;
  cursor: pointer;
}

.img {
  justify-self: flex-end;
  grid-area: img;
  max-width: 20rem;
  height: 30rem;
}
