.container {
  background-color: var(--secondary-clr);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    ". title title title title ."
    "quote quote quote quote quote quote"
    "quoteB quoteB jokeB jokeB img img"
    "slider slider slider slider img img"
    "saveB saveB viewB viewB img img";
}

.title {
  grid-area: title;
  color: var(--accent-clr);
  -webkit-text-stroke: black 1px;
  text-align: center;
  padding: 5%;
}

.quote {
  grid-area: quote;
  padding: 5%;
}

.changeB {
  background-color: var(--accent-clr);
  font-size: smaller;
  border: black 1px solid;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.changeB:hover {
  background-color: lightsalmon;
  color: black;
}

.jokeB {
  grid-area: jokeB;
  background-color: var(--accent-clr);
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: black 1px solid;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.jokeB:hover {
  background-color: lightsalmon;
  color: black;
}

.quoteB {
  grid-area: quoteB;
  background-color: var(--accent-clr);
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: black 1px solid;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.quoteB:hover {
  background-color: lightsalmon;
  color: black;
}

.saveB {
  grid-area: saveB;
  background-color: var(--accent-clr);
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: black 1px solid;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.saveB:hover {
  background-color: lightsalmon;
  color: black;
}

.viewB {
  grid-area: viewB;
  background-color: var(--accent-clr);
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 2%;
  padding-bottom: 2%;
  border: black 1px solid;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.viewB:hover {
  background-color: lightsalmon;
  color: black;
}

.slider {
  grid-area: slider;
  margin: 5%;
}
