
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.headingContainer {
  display: flex;
  align-items: center;
}

.heading {
  /* padding-bottom: 0.5rem; */
  letter-spacing: 0.5rem;
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: cursive;
  color: var(--accent-clr);
  -webkit-text-stroke: black 1px;
}

.notePad {
  aspect-ratio: 1;
  width: 3rem;
}

.inputQuotesContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  max-width: 70rem;
  min-width: 60rem;
}

.inputsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quackifyButtonContainer {
  display: flex;
  align-items: center;
}

.quackifyButtonContainer button{
  border: none;
  background-color: var(--accent-clr);
  width: 2rem;
  height: 1.5rem;
  margin: 0 1rem;
  border-radius: 15px;
  cursor: pointer;
}

.quackifyButtonContainer button:hover{
  font-weight: bolder;
}

.quackLevelDisplay {
  width: 15rem;
  text-align: center;
}

.search {
  padding: 0.3rem 0.5rem;
  align-self: flex-end;
  width: 10rem;
}

.quotesContainer {
  border: 2px solid var(--accent-clr);
  border-radius: 0.5rem;
  height: 35rem;
  padding: 0 1rem;
  overflow-y: scroll;
}

.quote {
  padding: 0.5rem;
  margin: 1rem 0;
  border: 1px solid black;
  /* cursor: pointer; */
}

.backButtonContainer {
  padding: 0.25rem 1rem;
}

.backButton {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--main-font-clr);
  letter-spacing: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.backButton:hover {
  font-weight: bold;
}
